.not-arrow::after {
    content: none;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-link {
    line-height: 50px;
}

.nav-link:hover {
    background-color: #212529;
}

.width-form {
    width: 40rem;
}

.dropdown-rounded
{
    padding: 5px;
    border-radius: 15px;
    width: 30px;
    line-height: 18px;
    background: transparent;
    border-color: transparent !important;
}

.dropdown-rounded::after
{
    content: none;
}

.dropdown-rounded:hover
{
    background-color: #e3e3e3;
}

.dropdown-item:hover
{
    background-color: #e3e3e3;
}

.dropdown-item:active
{
    color: #212529;
}

@media only screen and (max-width: 768px) {
    .width-form {
        width: 100%;
    }
}